@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-white transition-colors;
  }
}
